<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.tamil.visai"
      android:versionCode="1"
      android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/ime_name" android:debuggable = "true">
        <service android:name="TamilSoftKeyboard"
                android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>

    </application>
    <uses-sdk android:minSdkVersion="7" />
</manifest> 